@import 'variables';

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: $font-nunito-sans-bold;
  font-size: 24px;
  line-height: 17px;
  margin-bottom: 49px;
  text-align: center;
}
